{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
  <h1>Our restaurant</h1>
      <br>
    <p class="lead text-center text-primary mb-4">At our place, we believe that dining is more than just a meal—it’s an experience.
      Nestled in the heart of [Location], our restaurant combines a warm, inviting atmosphere with a passion for culinary excellence.
    </p>
      <br>
    <p class="text-muted mb-3 text-center">
      Our menu features a fusion of [cuisine types, e.g., Italian, Mediterranean, Asian], crafted from the freshest, locally-sourced
            ingredients. Each dish is thoughtfully prepared by our talented chefs, who take pride in presenting both traditional
            favorites and innovative creations. Whether you’re in the mood for a savory pasta, a fresh seafood platter, or a vibrant
            vegetarian dish, we have something to tantalize every palate.
      <br>
      Join us for a cozy dinner date, a lively family gathering, or a special celebration.
            Our friendly staff is dedicated to providing exceptional service, ensuring that every visit to
            our restaurant is memorable.
      <br>
      Don’t forget to check out our curated selection of wines and handcrafted cocktails, perfectly paired to complement your meal.
      <br>
      Ready to indulge? We invite you to come and savor the flavors of our restaurant.
            Whether you’re dining in or ordering out, we can’t wait to serve you!
    </p>
</div>
{% endblock content %}